## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
# importando as bibliotecas

import pandas as pd
import numpy as np

In [19]:
# cria um pd.dataframe a partir de um dicionario

banco_questoes = {'disciplinas':['matematica', 'portugues', 'geografia', 'ingles', 'historia', 'fisica', 'quimica'],
                  'numero_questoes':[24,18,8,8,8,12,12]}

df_questoes = pd.DataFrame(data=banco_questoes)
df_questoes.head(7)

  disciplinas  numero_questoes
0  matematica               24
1   portugues               18
2   geografia                8
3      ingles                8
4    historia                8
5      fisica               12
6     quimica               12

In [105]:
total_questoes = df_questoes['numero_questoes'].sum()
total_questoes

90

In [60]:
# cria um df para a quantidade de questoes totais (qt)

qt_mat = df_questoes.iloc[0,1]
qt_por = df_questoes.iloc[1,1]
qt_geo = df_questoes.iloc[2,1]
qt_ing = df_questoes.iloc[3,1]
qt_his = df_questoes.iloc[4,1]
qt_fis = df_questoes.iloc[5,1]
qt_qui = df_questoes.iloc[6,1]

In [65]:
# de fato, um inteiro

type(qt_qui)

numpy.int64

In [2]:
np.random.seed(42)

In [123]:
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [119]:
# exemplo de uma amostra de dados (matemática)

df_mat.head(5)

   Qt_acertos mat
0              11
1              21
2               6
3               9
4              18

In [120]:
# 1) Seu código aqui

pc_mat = (df_mat/qt_mat).mul(100).round(2)
pc_por = (df_por/qt_por).mul(100).round(2)
pc_geo = (df_geo/qt_geo).mul(100).round(2)
pc_ing = (df_ing/qt_ing).mul(100).round(2)
pc_his = (df_his/qt_his).mul(100).round(2)
pc_fis = (df_fis/qt_fis).mul(100).round(2)
pc_qui = (df_qui/qt_qui).mul(100).round(2)

In [121]:
pc_mat.head()

   Qt_acertos mat
0           45.83
1           87.50
2           25.00
3           37.50
4           75.00

In [124]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           53
1           48
2           39
3           56
4           45
..         ...
95          33
96          41
97          52
98          49
99          38

[100 rows x 1 columns]

In [125]:
# 3) Seu código aqui
pc_total = (total/total_questoes).mul(100).round(2)
pc_total

    Qt_acertos
0        58.89
1        53.33
2        43.33
3        62.22
4        50.00
..         ...
95       36.67
96       45.56
97       57.78
98       54.44
99       42.22

[100 rows x 1 columns]

In [108]:
# 4) Seu código aqui
total_45 = total[total['Qt_acertos'] > 45]
total_45.count()

Qt_acertos    31
dtype: int64

In [117]:
# Se fosse 45% de aprovação:

pc_total[pc_total['Qt_acertos'] > 45].count()

Qt_acertos    47
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [132]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados.head()

    Qt_acertos
2           39
5           28
6           37
14          31
17          36

In [129]:
linha,_ = df_eliminados.shape

print(f'{linha} alunos foram eliminados')

20 alunos foram eliminados

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [136]:
# 1) Sua solução aqui
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')

In [145]:
df.drop(columns=['paciente_id','document_id']).head(5)

,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,paciente_endereco_nmpais,paciente_endereco_uf,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,BRASIL,AC,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,BRASIL,AC,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,BRASIL,AC,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,BRASIL,AC,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,BRASIL,AC,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [153]:
total,_ = df.shape

print(f'Total de Vacinados (ambas doses): {total}.')

Total de Vacinados (ambas doses): 169071.

In [158]:
# 2) 

print(f"Pacientes registrados unicamente: {df['paciente_id'].nunique()}\n")

print(f"Registtros duplos: {total - df['paciente_id'].nunique()}")

Pacientes registrados unicamente: 120517

Registtros duplos: 48554

In [226]:
df['vacina_descricao_dose'].value_counts()

    1ª Dose    120939
    2ª Dose     48107
    Dose           25
Name: vacina_descricao_dose, dtype: int64

O valor 'Dose' será entendido como erro de preenchimento.

In [232]:
# 3) 
uma_dose = df['vacina_descricao_dose'].unique()[0]  # busca o elemento único '1 Dose'
pacientes_uma_dose = df['paciente_id'].loc[df['vacina_descricao_dose'] == uma_dose].nunique()

pacientes_uma_dose

119713

In [ ]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

49

In [ ]:
# 5)
df['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [246]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()
df_menor.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN
11338,647e2301-3ba4-463a-8d1e-2b6f38a4d99e-i0b0,53eb7fed5faa26ad17ce21ee378f28e25399ab7e90bc05...,17,2003-05-04,F,4,AMARELA,120030.0,10.0,FEIJO,...,4120Z004,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-09,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-02-09T22:08:13.000Z,NaN
15144,7f469e03-bece-49d0-bebc-33ad98e27f54-i0b0,dbaa6420d8a815158387668d0a59a19cf2bb63958e35d1...,16,2004-08-22,F,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-28,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-09T19:26:03.000Z,NaN

In [240]:
# 2) 
colunas = df_menor.columns.tolist()

print(colunas)

['document_id', 'paciente_id', 'paciente_idade', 'paciente_datanascimento', 'paciente_enumsexobiologico', 'paciente_racacor_codigo', 'paciente_racacor_valor', 'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais', 'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais', 'paciente_endereco_uf', 'paciente_endereco_cep', 'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor', 'estabelecimento_razaosocial', 'estalecimento_nofantasia', 'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome', 'estabelecimento_uf', 'vacina_grupoatendimento_codigo', 'vacina_grupoatendimento_nome', 'vacina_categoria_codigo', 'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome', 'vacina_fabricante_referencia', 'vacina_dataaplicacao', 'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome', 'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem']

In [243]:
# 3)
vacina_categoria_dic = df_menor['vacina_categoria_nome'].value_counts().to_dict()

print(vacina_categoria_dic)

{'Povos Indígenas': 33, 'Trabalhadores de Saúde': 9, 'Povos e Comunidades Tradicionais': 9, 'Comorbidades': 2, 'Faixa Etária': 1}

In [276]:
# 4)

estabelecimentos = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:, estabelecimentos]

df_menor_lista.head(5)

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC

In [278]:
df_menor_lista.nunique()

estabelecimento_valor               18
estabelecimento_razaosocial         14
estalecimento_nofantasia            18
estabelecimento_municipio_codigo    13
estabelecimento_municipio_nome      13
estabelecimento_uf                   1
dtype: int64

In [280]:
print(df_menor.shape)

(55, 34)

In [287]:
# 5)

# filtrando pelo código do estabelecimento junto ao municipio
df_menor_lista = df_menor_lista.drop_duplicates('estabelecimento_municipio_codigo')
df_menor_lista.shape

(13, 6)

In [285]:
df_menor_lista.nunique()

estabelecimento_valor               13
estabelecimento_razaosocial         11
estalecimento_nofantasia            13
estabelecimento_municipio_codigo    13
estabelecimento_municipio_nome      13
estabelecimento_uf                   1
dtype: int64

In [286]:
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC