# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [69]:
import pandas as pd
import numpy as np

# Seu código aqui

anos_aux = [1900,1920,1940,1960,1980,2000,2020]
anomalias_aux = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

anos = pd.Series(anos_aux)
anomalias = pd.Series(anomalias_aux)

#### 2) Coloque os anos nos índices conforme a tabela.

In [70]:
anomalias_2 = pd.Series(anomalias_aux,index=anos_aux)
anomalias_2

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [71]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [72]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
df.head()

           0           1           2
0  86.689463  108.934908   91.639040
1  85.868104   91.318176   74.087126
2  98.014830   93.951198  104.463053
3  88.745546   98.645406   95.424672
4  79.767128   89.406079  104.783312

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [73]:
indic_linhas = list(range(1,21))
indic_colunas = ['x1','x2','x3']

df = pd.DataFrame(arr,index=indic_linhas,columns=indic_colunas)
df.head()

          x1          x2          x3
1  86.689463  108.934908   91.639040
2  85.868104   91.318176   74.087126
3  98.014830   93.951198  104.463053
4  88.745546   98.645406   95.424672
5  79.767128   89.406079  104.783312

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [74]:
df['media'] = (df['x1']+df['x2']+df['x3'])/3

df.head()

          x1          x2          x3      media
1  86.689463  108.934908   91.639040  95.754471
2  85.868104   91.318176   74.087126  83.757802
3  98.014830   93.951198  104.463053  98.809693
4  88.745546   98.645406   95.424672  94.271875
5  79.767128   89.406079  104.783312  91.318840

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [75]:
import numpy as np
df['log_med'] = np.log10(df['media'])

df.head()

          x1          x2          x3      media   log_med
1  86.689463  108.934908   91.639040  95.754471  1.981159
2  85.868104   91.318176   74.087126  83.757802  1.923025
3  98.014830   93.951198  104.463053  98.809693  1.994800
4  88.745546   98.645406   95.424672  94.271875  1.974382
5  79.767128   89.406079  104.783312  91.318840  1.960560